.character-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  width: 250px;
  margin: 15px;
  text-align: center;
  cursor: pointer;
}

.character-card:hover {
  transform: translateY(-5px);
}

.character-image {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #ccc;
}

.character-info {
  padding: 15px;
}

.character-name {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #333;
}

.character-gender,
.character-species {
  font-size: 1rem;
  margin: 5px 0;
  color: #666;
}
